.footer-continer{
    width: 65%;
    margin: 0 auto;
}
.ready-to-watch{
    text-align: center;
    color: #ffffff;
    padding-bottom: 15px;
}
.footer-get-started{
    margin: 0 auto;
 
    align-items: center;
    justify-content: center;
}
.inputContainer {
    display: flex;
    gap: 3rem;
    align-items: flex-end;
    justify-content: center;
    align-items: center; 
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.emailInputWrapper {
    position: relative;
    width: 60%; 
}

.emailInputBox {
    padding: 1.5rem 1rem 0.5rem 1rem; 
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background-color: rgba(0, 0, 0, 0.3); 
    width: 100%; 
    color: #ffffff;
    font-size: 1rem; 
    transition: border-color 0.3s, background-color 0.3s;
}


.emailInputBox:focus {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5); 
}


.emailLabel {
    position: absolute;
    top: 50%; 
    left: 1rem; 
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem; 
    pointer-events: none; 
    transition: all 0.2s ease-out;
    background-color: transparent; 
}


.emailInputBox:focus + .emailLabel,
.emailInputBox:not(:placeholder-shown) + .emailLabel {
    top: 0.5rem; 
    transform: translateY(0); 
    font-size: 0.75rem; 
    color: rgba(255, 255, 255, 0.9); /
  
}


.getStartedButton {
    width: 25%; 
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #ffffff;
    font-size: 1.2rem; 
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    padding: 1rem; 
    align-self: stretch; 
}

.getStartedButton:hover {
    background-color: #ff1a1a;
}

.questions{
    padding-top: 40px;
}
.footer-link {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 30px;
}
.ask-us{
    color: #ffffff;
}
.footer-links {
    cursor: pointer;
    padding-top: 15px;
    text-decoration: underline;
    color: rgb(151, 149, 149);

}

.choose-countery {
    padding-top: 50px;
}
.countery-choose {
    color: rgb(151, 149, 149);
    padding-top: 50px;
}

.countery-choose a{
    color: rgb(85, 83, 235);
}